<nav class="breadcrumb-decord" aria-label="breadcrumb">
  <ol class="breadcrumb" id="brdcrb">
    <li class="breadcrumb-item" ><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="true">create</li>
  </ol>
</nav>
<div class="form-create pb-5">
     <form method="POST" class="form-border needs-validation" action="/create">
          <div class="mb-3">
               <label for="title" class="form-label">Title: </label>
               <input name="title" type="text" class="form-control" id="title" area-describedby="titleFeedback" placeholder="Enter tittle" required="true">
          </div>
          <div class="mb-3">
               <label for="content" class="form-label">Content: </label>
               <input name="content" type="text" class="form-control" id="content" area-describedby="contentFeedback" placeholder="Enter content" required="true">
               
          </div>
          <div class="mb-3">
               <label for="link" class="form-label">Link image: </label>
               <input name="link" type="text" class="form-control" id="link" area-describedby="linkFeedback" placeholder="Enter link image" required="true">
               
          </div>
          <div class="btn-add">
               <button type="submit" class="btn-dark btn">ADD</button>
          </div>
          <p class="text">{{message}}</p>
     </form>
</div>
